
<div ng-if="!main.loggedIn" class="col-sm-10 col-md-5 col-md-offset-5">
    <il><a href="#/">Login Or SignUp Please</a></il>
</div>

<div class="container" ng-if="main.loggedIn">
    <form style="text-align: center">
        <h1>My Cart</h1><br>
        <b> Search By </b><br><br>
        <div class="row">
            <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.username" placeholder="From who"/>
            <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.category" placeholder="Category"/>
            <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.size" placeholder="Size"/>
        </div></br></br>
        <div class="img" ng-repeat="image in cart.userCart | toArray | filter: search">
            <div>
                <img data-ng-src="{{image.datasrc}}" class="img-thumbnail" alt="Fjords" width="300" height="200">
                <div class="desc">{{image.category}} - {{image.size}} - {{image.username}} </div>
                <div>Time request :{{image.timeRequest | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                <div class="mButton" style="padding-left: 10px;">Status: {{image.status}}</div>
                <div class="mButton"><button value="Cancel" ng-click="cart.cancel(image._id);">Cancel</button></div>
            </div>
        </div>
    </form>
</div>
