

<div ng-if="!main.loggedIn" class="col-sm-10 col-md-5 col-md-offset-5">
    <il><a href="#/">Login Or Signcart Please</a></il>
</div>

<div class="container" ng-if="main.loggedIn">
    <form  class="col-sm-6 col-md-4 col-md-offset-4">
        <h1>My Cart</h1>
        <span>Search By</span><br>
        Category: <input type="text" ng-model="search.category"/><br>
        Size: <input type="text" ng-model="search.size"/><br>
        User name: <input type="text" ng-model="search.username"/><br><br>

        <div class="img" ng-repeat="image in cart.userCart | toArray | filter: search">
            <div class="images">
                <img class="main-img" data-ng-src="data:{{image.image.contentType}};base64,{{image.datasrc}}">
                <div class="desc">{{image.category}} - {{image.size}} - {{image.username}}</div>
                <div class="mButton" style="padding-left: 60px;">{{image.status}}</div>
            </div>
        </div>
    </form>
</div>
