
<div class="container" ng-if="!main.loggedIn">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-md-offset-4">
        <h2>Forget password!</h2></br>
            <form>
                <input type="email" name="email" class="form-control"  ng-model="email.email" placeholder="Insert Email"></form></br></br>
                <input type="submit" value="Send" class="btn btn-success"  ng-click="email.sendPasswordToEmail()"></div></br>
                <strong><spand class="alert-danger" ng-bind="email.error" ></spand></strong>
                <strong><spand class="alert-success" ng-bind="email.success" ></spand></strong>
            </form>
        </div>
    </div>
</div>
