
<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h1>Home page!</h1>
    </div>
    <div>
        <p>Login to get started</p>
        <a href="#/login" class="btn btn-primary">Login</a>
    </div>
</div>

<div class="containers"  ng-if="main.loggedIn" style="text-align: center">
    <div class="container-fluid bg-1 text-center">
        <div class="text-center">
            <h2>Welcome To Take And Give</h2><br><br>
        </div>
    </div>
<b>Search By</b><br><br>
    <div class="row">
        <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.username" placeholder="From who"/>
        <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.category" placeholder="Category"/>
        <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.size" placeholder="Size"/>
        <input type="text" class=".col-md-3 .col-md-offset-3" ng-model="search.city" placeholder="City"/>
    </div></br>
    <div class="img" ng-repeat="image in up.allImages | toArray | filter: search">
        <div class="images">
            <img class="main-img" data-ng-src="data:{{image.image.contentType}};base64,{{image.datasrc}}">
            <div class="desc">{{image.category}} - {{image.size}} - {{image.username}} - {{image.city}}</div>
            <div class="mButton"><button value="toUse" ng-click="up.addToCart(image._id)">{{image.toUse}}</button></div>
        </div>
    </div>
</div>







        <!--
    <img ng-src="data:image.contentType;base64,{{image.data}}">

        <div calss="row" ng-if="main.loggedIn" ng-controller="StoryController as story">

        <div class="col-md-4">
         <div class="row">
             <div class="panel panel-primary">
                 <div class="panel-heading">Write a Story</div>

                 <div class="panel-body">
                     <form ng-submit="story.createStory()">
                         <input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="..." required>
                     </form>
                 </div>
             </div>
             <div class="panel panel-success">
                 <div class="panel-heading">Your Stories</div>
                 <div class="panel-body" ng-repeat="myStory in story.stories">
                     <p> {{myStory.content}}</p>
                 </div>
             </div>
         </div>
        </div>
        </div>
        -->
