
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-md-offset-4">
        <h2>Reset your password!</h2></br>
            <form>
                New Password:<input type="password" class="form-control" ng-model="passwordReset.user.newPassword" placeholder="New Password" required><br>
                Confrim Password:<input type="password" class="form-control" ng-model="passwordReset.user.confrimPassword" placeholder="confrim Password" required><br>
                <button ng-click="passwordReset.passwordReset()" class="btn btn-success" >Change Details</button><br><br>
                <strong><span class="alert-danger" ng-bind="passwordReset.error"></span></strong>
                <strong><span class="alert-success" ng-bind="passwordReset.success"></span></strong>
                <div ng-if="passwordReset.flag"><a href="#/login">Login now</a></div>
             </form>
          </div>
    </div>
</div>
