
<div ng-if="!main.loggedIn" class="col-sm-10 col-md-5 col-md-offset-5">
    <il><a href="#/">Login Or SignUp Please</a></il>
</div>

<div class="containers"  ng-if="main.loggedIn" style="text-align: center">
    <h1>Permission Page</h1><br>
    <b> Search By </b><br><br>
    Purpose: <input type="text" ng-model="search.toUse"/>
    Who Request: <input type="text" ng-model="search.userRequest"/><br><br>

    <div class="img" ng-repeat="image in per.images | filter: search">
        <div class="images">
            <img class="main-img" data-ng-src="data:{{image.image.contentType}};base64,{{image.datasrc}}">
            <div class="desc">{{image.category}} - {{image.size}}</div>
            <div class="mButton">{{image.userRequest}} is waiting for approval({{image.toUse}}) </div>
            <div class="mButton"></div>
                <button value="toUse" ng-click="per.responseTrue(image._id)">Yes</button>
                <button value="toUse" ng-click="per.responseFalse(image._id)">No</button>
            </div>
        </div>
    </div>
</div>
