
<div ng-if="!main.loggedIn" class="col-sm-10 col-md-5 col-md-offset-5">
    <il><a href="#/">Login Or SignUp Please</a></il>
</div>

<div class="container" ng-if="main.loggedIn">
    <form  class="col-sm-6 col-md-4 col-md-offset-4">
        <h1>Profile</h1>
        User Name:<input type="text" class="form-control" ng-model="changeDetails.userData.username" placeholder="User Name" disabled><br>
        Name:<input type="text" class="form-control" ng-model="changeDetails.userData.name" palceHolder="Name"><br>
        Email:<input type="email" class="form-control" ng-model="changeDetails.userData.email" palceHolder="Email"><br>
        Old Password:<input type="password" class="form-control" ng-model="changeDetails.userData.oldPassword" placeholder="Old Password"><br>
        New Password:<input type="password" class="form-control" ng-model="changeDetails.userData.newPassword" placeholder="New Password"><br>
        Confrim Password:<input type="password" class="form-control" ng-model="changeDetails.userData.confrimPassword" placeholder="confrim Password"><br>
      <!--  User Name:<input type="text" class="form-control" ng-model="changeDetails.user.username" placeholder="User Name" disabled><br>
        Name:<input type="text" class="form-control" ng-model="changeDetails.user.name" palceHolder="Name"><br>
        Old Password:<input type="password" class="form-control" ng-model="changeDetails.user.oldPassword" placeholder="Old Password"><br>
        New Password:<input type="password" class="form-control" ng-model="changeDetails.user.newPassword" placeholder="New Password"><br>
        Confrim Password:<input type="password" class="form-control" ng-model="changeDetails.user.confrimPassword" placeholder="confrim Password"><br>-->
        <button ng-click="changeDetails.changeDetails()" class="btn btn-success" >Change Details</button><br><br>
        <strong><span class="alert-success" ng-bind="changeDetails.error"></span></strong>
    </form>
</div>
