
<head>
<title>SignUp</title>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 col-md-offset-4">
            <h1>Signup!</h1>
            <from method="post" class="form-sigin">
                <input type="text" name="name" placeholder="Name" class="form-control" ng-model="user.userData.name" required><br>
                <input type="text" name="username" placeholder="User Name" class="form-control" ng-model="user.userData.username" required><br>
                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.userData.email" required><br>
                <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.userData.password" required><br>
                <input type="password" name="password" placeholder="Re-enter Password" class="form-control" ng-model="user.userData.passwordConfirmation" required><br>
               <!-- <div class="form-control">Select Country (with states):<select id="country" name ="country"></select></div><br>
                <div class="form-control">Select State:<select name ="state" id ="state"></select></div><br>-->
                Select Country (with states):   <select id="country" name ="country"></select>
                Select State: <select name ="state" id ="state"></select><br>

                <script language="javascript">
                    populateCountries("country", "state");
                </script>
                <input type="radio" name="sex" placeholder="Gender" value="Male" ng-model="user.userData.sex" >Male &nbsp;&nbsp;
                <input type="radio" name="sex" placeholder="Gender" value="Female" ng-model="user.userData.sex">Female<br><br>
                <button ng-click="user.signupUser()" class="btn btn-success">SignUp</button><br><br>
                <strong><spand class="alert-danger" ng-bind="user.error" ></spand></strong><br>
            </from>
        </div>
    </div>
</div>
