

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

div.img:hover {
    border: 1px solid #777;
}
.img:hover + .zoom{
    width: 600px;
}

div.img img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 10px;
    text-align: center;

}
.zoom {
    width: 0px;
    position: absolute;
    transition: width 0.3s linear 0s;
}

div.mButton{
    margin-bottom: 5px;
}

